@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Questrial&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vmin;
  background-color: #709DCB;
  font-size: 3vmin;
}

#logo {
  font-size: 5vmin;
  font-family: 'Questrial', sans-serif;
  padding: 1vmin 0 0 5vmin;
}

#logo span {
  font-size: 2.5vmin;
  font-family: 'Nunito', sans-serif;
}

nav a, nav a:hover {
  color: white;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vmin;
  padding-right: 4vmin;
}