@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Questrial&display=swap');

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #logo {
  font-family: 'Questrial', sans-serif;
  color: #5373A6;
  font-size: 10vmin;
  padding: 0 0 4vmin 0;
}

#logo span {
  font-family: 'Nunito', sans-serif;
  font-size: 5vmin;
} */

#form {
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: 16vmin 5vmin auto;
  background-color: #709DCB; */
  background-color: black;
  color: white;
  width: 60vmin;
  height: 70vmin;
  border-radius: 1vmin;
}

button {
  min-width: 50vmin;
}