.PinnedLocationsPage {
  min-height: 100vh;
  background-color: rgb(225, 225, 225);
  padding-bottom: 5vmin;
}

.PinnedLocationsPage h1 {
  text-align: center;
  font-size: 5vmin;
  color: #27395a;
  margin-top: 5vmin;
}

.PinnedLocationsPage h4, .SearchPage h4 {
  text-align: center;
  padding-top: 10vmin;
  font-size: 3.5vmin;
  font-family: 'Questrial', sans-serif;
}

.PinnedLocationsPage #locations-list-container {
  padding: 2.5vmin 5vmin 0 5vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
  justify-content: center;
}
