.HomePage {
  background-color: rgb(225, 225, 225);
  min-height: 100vh;
}

.HomePage h1 {
  margin-top: 5vmin;
  font-size: 5vmin;
  text-align: center;
  color: #27395a;
}

.HomePage > section {
  margin-top: 7vmin;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  
}

.HomePage #container-1, .HomePage #container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5vw;
}

#container-1 button, #container-2 button, #pin-button button {
  width: 35vmin;
  margin-top: 2vmin;
  border: none;
  border-radius: 5px;
  background-color: #334870;
  color: white;
  padding: 2vmin;
  font-size: 2vmin;
  cursor: pointer;
}


